@model List<IndexBlogPostViewModel>

@{
    ViewBag.Title = "Blog";
}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Blog</h2>
                        </div>
                    </div>
                    @using (Html.BeginForm("Search", "BlogPost", FormMethod.Get))
                    {
                        <ul class="nav navbar-nav search-bar">
                            <li>@Html.TextBox("query", ViewBag.CurrentFilter as string, new { @class = "search-text-box" })</li>
                            <li><button class="btn btn-primary"type="submit" value="Search">Search</button></li>
                        </ul>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary" href="@Url.Action("NewPost", "BlogPost")">Post a new Post</a>
                    }
                    <hr />
                    @if (!Model.Any())
                    {
                        <div style="margin-top:15px;">
                            <p><strong>You have no Posts</strong></p>
                        </div>
                    }
                    else
                    {
                        foreach (var record in Model)
                        {
                            if (record.Published == false)
                            {
                                if (!User.IsInRole("Admin"))
                                {
                                    continue;
                                }
                            }
                            <div class="col-md-12">
                                @if (record.Published == false)
                                {
                                    <span class="unpublished-label">unpublished</span>
                                }
                                <div class="post post-row">
                                    @if (record.MediaUrl != null)
                                    {
                                        <a class="post-img" href="@Url.Action("FullArticleBySlug", "BlogPost", new { slug = record.Slug })"><img src="@Url.Content(record.MediaUrl)" alt=""></a>
                                    }
                                    <div class="post-body">
                                        <div class="post-meta">
                                            @if (record.Date_updated != null && record.Date_updated.Count() > 0)
                                            {
                                                <span class="post-date">@record.Date_updated</span>
                                            }
                                            else
                                            {
                                                <span class="post-date">@record.Date_created</span>
                                            }
                                        </div>
                                        <h3 class="post-title"><a href="@Url.Action("FullArticleBySlug", "BlogPost", new { slug = record.Slug })">@record.Title</a></h3>
                                        @if (record.Body.Count() > 50)
                                        {
                                            <p>@Html.Raw(record.Body.Substring(0, 24))...</p>
                                        }
                                        else
                                        {
                                            <p>@Html.Raw(record.Body)</p>
                                        }
                                    </div>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <form method="get" action="@Url.Action("Edit", "BlogPost", new { id = record.ID })" class="edit-delete-btns-forms">
                                            <button class="btn btn-primary admin-btns" type="submit">Edit</button>
                                        </form>
                                        <form method="post" action="@Url.Action("Delete", "BlogPost", new { id = record.ID })" class="edit-delete-btns-forms">
                                            <button class="btn btn-primary" type="submit">Delete</button>
                                        </form>
                                    }
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
